@page "/userDelete/{Id:int}"

@inherits UserDeleteBase

<h3>Delete User</h3>
<hr />
<p>Would you want to delete it?</p>
<div>    
    <button class="btn btn-outline-primary" @onclick="Return">Cancel</button>
    <button class="btn btn-primary" @onclick="Delete">Delete</button>
</div>