@page "/"

@inherits UsersBase

<h3>Users</h3>
<div class="row">
    <div class="col-12 text-right">
        <a href="/user" class="btn btn-outline-light text-dark" role="button">
            <span class="fas fa-plus" href="/user"></span>
        </a>
    </div>
</div>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
            <tr>
                <td>
                    <a href="user/@user.Id" class="btn btn-outline-light text-dark" role="button">
                        <span class="fas fa-pen-square" href="/user"></span>
                    </a>
                </td>
                <td>
                    <a href="userDelete/@user.Id" class="btn btn-outline-light text-dark" role="button">
                        <span class="fas fa-trash" href="/user"></span>
                    </a>
                </td>
                <td>@user.Name</td>
                <td>@user.LastName</td>
                <td>@user.Age</td>
                <td>@user.Genre.Name</td>
            </tr>
            }
        </tbody>
    </table>
}