################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MusicCollection
/API/bin/Debug/net5.0
/API/obj
